#LoginForm {
    background-color: rgb(39, 134, 189);
    background-position: center;
    background-size: cover;
    padding: 5px;
}

.form-heading {
    color: #fff;
    font-size: 23px;
}


.panel p {
    color: #777777;
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 200px;
    line-height: 12px;
}

.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}

.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px;
}

.login-form .form-group {
    margin-bottom: 10px;
}

.login-form {
    text-align: center;
}



.login-form .btn.btn-primary {
    background:lightskyblue;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 4px;  
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}




.back {
    text-align: left;
    margin-top: 10px;
}

.back a {
    color: #444444;
    font-size: 13px;
    text-decoration: none;
}