.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.header__logo {
    height: 90px;
    object-fit: contain;
}

.header__icon {
    padding: 20 px;
}